<!DOCTYPE html>
<html>
<head>
	<title>Introduction Digital Forensic</title>
	<meta charset="UTF-8">
</head>
<body>
	<img src="digital_forensic.png"><br>
	<form action="http://localhost/login.php">
		<p>ID <input type="text" name="id"> PW <input type="password" name="pw"> <input type="submit"></p>
	</form>
	<h1>Agenda</h1>
	<ul>
		<li>Donghyun Kim</li>
	</ul>
	<ol>
		<li>Digital Forensic</li>
		<li>Evidence Tree</li>
		<li>Evidence</li>
		<li>Graph</li>
	</ol>
	<h2>What is Digital Forensic?</h2>
	<p><strong>Digital Forensic</strong> is very awesome technique</p>
	<p>
		Digital forensics (sometimes known as digital forensic science) is a branch of forensic science encompassing <br> the recovery and investigation of material found in digital devices, often in relation to computer crime.
	</p>
	<p>
		[1][2] The term digital forensics was originally used as a synonym for computer forensics but has expanded <br>to cover investigation of all devices capable of storing digital data. [1] With roots in the personal computing revolution of <br>the late 1970s and early 1980s, the discipline evolved in a haphazard manner during the 1990s, and it was not until the early 21st century <br>that national policies emerged.
	</p>
	<p>Education Link : <a href="https://www.naver.com/" target="_blank">KITRI BoB</a></p>
	<table border = "1">
		<thead>
			<tr>
				<th>Name</th> <th>Link</th> <th>Hash</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>SQLite Browser</td> <td><a href="http://sqlitebrowser.org/" target="_blank">http://sqlitebrowser.org/</a></td> <td>z8x7cv89zv9wehnwaek</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>	
				<td>EnCase</td> <td><a href="https://www.guidancesoftware.com/encase-forensic" target="_blank">https://www.guidancesoftware.com/encase-forensic</a></td> <td>asdfaasdfasdf</td>
			</tr>
		</tfoot>
	</table>
</body>
</html>

